<div class="uid-home-banner">

  <h1>Components made for Angular</h1>

  <a class="btn" routerLink="/components/dialog">Get started</a>

</div>

<div class="uid-home-container">

  <div class="row">

    <div class="col col-md-3">
      <h3>User focused</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In auctor tellus vel ante sollicitudin fermentum vitae sed dolor. In aliquet ullamcorper magna luctus consequat.</p>
    </div>

    <div class="col col-md-3">
      <h3>Developer friendly</h3>
      <p>Made with love for creators of all skill levels. Components are well-documented, easy to configure, adapt and extend. Furthermore, we love expressive syntax and semantics.</p>
    </div>

    <div class="col col-md-3">
      <h3>Performant</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In auctor tellus vel ante sollicitudin fermentum vitae sed dolor. In aliquet ullamcorper magna luctus consequat.</p>
    </div>

    <div class="col col-md-3">
      <h3>Battle-tested</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In auctor tellus vel ante sollicitudin fermentum vitae sed dolor. In aliquet ullamcorper magna luctus consequat.</p>
    </div>

  </div>

</div>
