@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import "~@koolm/ngx-ui-components/lib/dialog/dialog";
@import "~@koolm/ngx-ui-components/lib/paginator/paginator";
@import "~@koolm/ngx-ui-components/lib/tooltip/tooltip";
@import './assets/scss/variables';
@import './assets/scss/highlight';

body {
  min-width: 320px;
  font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
}

* {
  box-sizing: border-box;
}

p {
  margin-top: 0;
  margin-bottom: 16px;
}

pre {
  max-height: 500px;
  margin: 0;
  overflow: auto;
  line-height: 1.5;
}

code {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 14px;
  background-color: $bg-light;
}

.ui-docs-header {
  height: 60px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  color: #fff;
  background: $color-primary;
  border-bottom: 1px solid $border-dark;
}

.ui-docs-header-logo {
  width: 28px;
  margin-right: 8px;
}

.ui-docs-header-title {
  font-size: 18px;
  font-weight: 700;
}

.ui-docs-header-icon {
  margin-left: auto;

  svg {
    display: block;
  }
}

.ui-docs-content {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 60px);
}

.ui-docs-sidebar {
  position: relative;
  width: 208px;
  border-right: 1px solid $border-dark;
  padding: 16px 0;
}

.ui-docs-page {
  flex: 1 1 auto;
}

.ui-docs-page-header {
  padding: 16px 32px;
  background-color: $bg-light;
  border-bottom: 1px solid $border-dark;
}

.ui-docs-page-content {
  padding: 16px 32px;
}

.ui-docs-nav {
  position: sticky;
  top: 0;

  a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 12px 24px;
    transition: all 250ms ease;

    &:hover, &:focus {
      color: $color-secondary;
    }

    &.active {
      color: $color-secondary;
      background-color: $bg-light-blue;
    }
  }
}

// Components
@include ui-dialog();
@include ui-tooltip();
@include ui-paginator();
