<h1>Dialog</h1>

<button (click)="openBasicDialog()">Open basic dialog</button>
<button (click)="openConfirmationDialog()">Open confirmation dialog</button>

<button uiTooltip="This is a tooltip" [showDelay]="500" [hideDelay]="500" position="top">Tooltip</button>
<button uiTooltip="This is a tooltip" position="top">east</button>
<button uiTooltip="This is a tooltip" position="left">South</button>
<button uiTooltip="This is a tooltip" position="bottom">West</button>

<div style="max-height: 300px; background: #EEE; overflow: hidden">
  <div *ngFor="let event of events">
    <span>{{ event.body }}</span>
    <small>{{ event.time | date: 'h:mm:ss:SS' }}</small>
  </div>
</div>

<hr>


<button (click)="page = 1">Page 1</button>
<button (click)="page = 2">Page 2</button>
<button (click)="page = 3">Page 3</button>
<button (click)="page = 4">Page 4</button>
<hr>
<button (click)="range = 2">Range 2</button>
<button (click)="range = 3">Range 3</button>
<button (click)="range = 4">Range 4</button>
<hr>
<button (click)="length = 50">Length 50</button>
<button (click)="length = 100">Length 100</button>
<button (click)="length = 150">Length 150</button>
<button (click)="disabled = !disabled">Disable</button>

<ui-paginator
  [page]="page"
  [length]="length"
  [perPage]="12"
  [range]="range"
  [disabled]="disabled"
  (pageChange)="change($event)">
</ui-paginator>

<h2>Ellipsis</h2>
<ui-paginator
  [page]="page"
  [length]="length"
  [perPage]="12"
  [range]="range"
  [showEllipsis]="true"
  [disabled]="disabled">
</ui-paginator>

<h2>Boundary links</h2>
<ui-paginator
  [page]="page"
  [length]="length"
  [perPage]="12"
  [range]="range"
  [disabled]="disabled"
  [showEllipsis]="true"
  [showBoundaryLinks]="true">
</ui-paginator>

<h2>Template overrides</h2>
<ui-paginator
  [page]="page"
  [length]="length"
  [perPage]="12"
  [range]="range"
  [showEllipsis]="true"
  [showBoundaryLinks]="true"
  [disabled]="disabled"
  (pageChange)="change($event)">
  <ng-template uiPaginatorFirst>First</ng-template>
  <ng-template uiPaginatorPrev>Prev</ng-template>
  <ng-template uiPaginatorNext>Next</ng-template>
  <ng-template uiPaginatorLast>Last</ng-template>
</ui-paginator>

