$font-family-base: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
$font-size-base: 16px;

/*---------------------*
 * Colors
 *---------------------*/
$color-primary: #1338A5;
$color-secondary: #326bf9;
$color-muted: #777;
$bg-light-blue: #f1f8ff;
$bg-light: #fafbfc;
$border-light: #e1e4e8;
$border-dark: #d1d5da;

/*---------------------*
 * Grid
 *---------------------*/
$grid-columns: 6;
$grid-gutter-width: 30px;
$grid-breakpoints: (
  xs: 0,
  sm: 570px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

